- map_link = "http://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=205771427153886713833.000001121663135194f76&t=m&ll=44.219889,-71.48145&spn=0.572148,0.699048"
.image
  %iframe{ marginheight: 0, marginwidth: 0, frameborder: 0, height: 350, scrolling: "no", width: 425, style: "color:#0000FF;text-align:left", src: map_link+'&output=embed' }
  %p
    View
    = link_to "NH 4000-Footers", map_link+'&source=embed'
    in a larger map