- title 'Hikers'

%table.table.table-zebra
  %tr
    %th Name
    - if current_user
      %th

  - hikers.each do |hiker|
    %tr
      %td= link_to hiker.name, hiker
      - if current_user
        %td
          = link_to 'Edit', edit_hiker_path(hiker), class: 'btn btn-mini'
          = link_to 'Destroy', hiker, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini'

%br
= link_to 'New Hiker', new_hiker_path if current_user
