/***************************
  general styles 
****************************/

h1 {
  padding-bottom: 12px;
}

.image {
  padding: 0 1em 1em 0;
  
  p {
    text-align: center;
    font-style: italic;
    font-size: 90%;
    padding: 0.5em;
  }
}

/***************************
  application layout styles 
****************************/

.navbar-fixed-top {
  margin-bottom: 0;
}
.navbar-inner {
  @include gradient-vertical(#555, #222);  
  > div {
    padding: 15px 100px;
  }
  h1 {
    float: left;
    width: 400px;
    /*padding-left: 100px;*/
    color: $navbarText;
    padding-bottom: 0;
    line-height: 36px;
  }
  ul.nav {
    float: right;
    li {
      border: 1px solid #666;
      border-width: 0 3px 0 0;
    }
    li.last {
      border-width: 0;
    }
  }
}

#banner {
  background-color: #A9D5FA;
  background-image: image-url("lafayette-banner-2048x85.jpg");
  height: 85px;
}

#content {
  min-height: 400px;
  padding: 15px 100px;
}

#footer {
  color: #999;
  font-size: 12px;
  text-align: center;
  a { color: #999; }
}

/**************************
 page specific styles
***************************/

#home {
  .image {
    float: left;
    padding-top: 0;
    padding-left: 0;
  }
}
