#footer
	.container-fluid
		.align_right
			Copyright &copy; 2012 
			= link_to "Parkerhill Technology Group LLC", "http://parkerhill.com"
			- if current_user
				Logged in as #{current_user.email} #{link_to '[logout]', session_path("current"), method: "delete"}
			- else
				= link_to "[Log in]", new_session_path
