.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %h1 My NH 4000 Footers
      .nav-collapse
        %ul.nav
          %li= link_to "Home", root_path
          %li= link_to 'Mountains', mountains_path
          -# %li= link_to "Hikers", hikers_path
          -# %li= link_to 'Trips', trips_path
          %li.last= link_to "Map", map_path
          
